<?xml version="1.0" ?>
<robot name="assembly" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find assembly_description)/urdf/materials.xacro" />
<xacro:include filename="$(find assembly_description)/urdf/assembly.trans" />
<xacro:include filename="$(find assembly_description)/urdf/assembly.gazebo" />
<link name="base_link">
  <inertial>
    <origin rpy="0 0 0" xyz="0.0006175728612704706 3.251485407602006e-05 0.003971112352901865"/>
    <mass value="0.20229461059655884"/>
    <inertia ixx="6.9e-05" ixy="0.0" ixz="0.0" iyy="0.000285" iyz="0.0" izz="0.000354"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://assembly_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://assembly_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
